.card {
  background: #fff;
  border-radius: 15px;
  padding: 20px 50px 10px 15px;
  box-shadow: 0 0 15px 10px #fff;
}

.cardsFather {
  display: flex;
  flex-direction: column;
  gap: 45px;
  overflow: hidden;
  overflow-y: scroll;
  height: 550px;
  border-radius: 20px;
  padding: 20px 30px;
}

.cardImg {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cardImg img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.cardText p,
h3 {
  color: blueviolet;
}

.cardText p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.cardText h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 0;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
