:root {
  background: rgb(92, 0, 198);
  background: linear-gradient(
    90deg,
    rgba(92, 0, 198, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unbounded", cursive;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blueviolet;
  border-radius: 10px;
}
